# Auto detect text files and perform LF normalization
* text=auto
/packages/contracts/src/gen/**/*.ts whitespace=-blank-at-eof
/apps/desktop/resources/ios-simulator/LICENSE.appium-webdriveragent text eol=lf
