<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="app.joko.incomingshare.JokoShareReceiverActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
      android:excludeFromRecents="true"
      android:exported="true"
      android:finishOnTaskLaunch="true"
      android:launchMode="standard"
      android:noHistory="true"
      android:taskAffinity=""
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
    </activity>
  </application>
</manifest>
